@font-face {
  font-family: "iconfont"; /* Project id 2916350 */
  src: url('iconfont.woff2?t=1636077231471') format('woff2'),
       url('iconfont.woff?t=1636077231471') format('woff'),
       url('iconfont.ttf?t=1636077231471') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuiyin:before {
  content: "\e6f0";
}

.icon-tupianbianji:before {
  content: "\e628";
}

.icon-yinleyinpin:before {
  content: "\e6e5";
}

.icon-qitawenjian:before {
  content: "\e66e";
}

.icon-shipin:before {
  content: "\e6ca";
}

.icon-tupian:before {
  content: "\e8ba";
}

