@root-entry-name: 'default';

@pro-layout-page-container: ~'@{gx-prefix-pro}-page-container';
@pro-layout-grid-content-prefix-cls: ~'@{gx-prefix-pro}-grid-content';

.@{pro-layout-grid-content-prefix-cls} {
  width: 100%;
  flex: 1 1 auto;
  overflow: hidden;
  padding-top: var(--common-space);
}

.sub-tab-content {
  padding-top: var(--common-space-half);
}

.@{pro-layout-page-container}-children-content {
  margin: 0 var(--common-space);
  padding-bottom: var(--common-space);

  > .ant-card {
    > .ant-card-body {
      padding-bottom: 0;
    }
  }
}

.@{pro-layout-page-container} {
  background-color: inherit;
  &-warp {
    background-color: #ffffff;
    .@{ant-prefix}-tabs-nav {
      margin: 0;
    }
  }
  &-ghost {
    .@{pro-layout-page-container}-warp {
      background-color: transparent;
    }

    .@{pro-layout-page-container}-children-content {
      margin-top: 0;
    }
  }
}

.@{pro-layout-page-container}-main {
  .@{pro-layout-page-container}-detail {
    display: flex;
  }

  .@{pro-layout-page-container}-row {
    display: flex;
    width: 100%;
  }

  .@{pro-layout-page-container}-title-content {
    margin-bottom: 16px;
  }

  .@{pro-layout-page-container}-title,
  .@{pro-layout-page-container}-content {
    flex: auto;
    width: 100%;
  }

  .@{pro-layout-page-container}-extraContent,
  .@{pro-layout-page-container}-main {
    flex: 0 1 auto;
  }

  .@{pro-layout-page-container}-main {
    width: 100%;
  }

  .@{pro-layout-page-container}-title {
    margin-bottom: 16px;
  }

  .@{pro-layout-page-container}-logo {
    margin-bottom: 16px;
  }

  .@{pro-layout-page-container}-extraContent {
    min-width: 242px;
    margin-left: 88px;
    text-align: right;
  }
}

@media screen and (max-width: @screen-xl) {
  .@{pro-layout-page-container}-main {
    .@{pro-layout-page-container}-extraContent {
      margin-left: 44px;
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .@{pro-layout-page-container}-main {
    .@{pro-layout-page-container}-extraContent {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: @screen-md) {
  .@{pro-layout-page-container}-main {
    .@{pro-layout-page-container}-row {
      display: block;
    }

    .@{pro-layout-page-container}-action,
    .@{pro-layout-page-container}-extraContent {
      margin-left: 0;
      text-align: left;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .@{pro-layout-page-container}-detail {
    display: block;
  }
  .@{pro-layout-page-container}-extraContent {
    margin-left: 0;
  }
}
