/**
 * @description ant-modal
 */

html {
  body {
    .ant-table-thead {
      & > tr > th {
        position: relative;
        font-weight: 700;
        color: #000;
        //background: #efefef;

        .ant-table-header-column {
          font-weight: 700;
          background: #fafafa;
        }
      }
    }

    .ant-table-column-title {
      position: relative;
      z-index: 1;
      flex: 1 1;
    }

    .ant-table-resize-handle {
      position: absolute;
      top: 0;
      height: 100% !important;
      bottom: 0;
      left: auto !important;
      right: -8px;
      cursor: col-resize;
      touch-action: none;
      -webkit-user-select: auto;
      -moz-user-select: auto;
      user-select: auto;
      width: 16px;
      z-index: 1;
    }

    .ant-table-resize-handle:hover .ant-table-resize-handle-line,
    .dragging .ant-table-resize-handle-line {
      opacity: 1;
    }

    .ant-table-resize-handle-line {
      display: block;
      width: 1px;
      margin-left: 7px;
      height: 100% !important;
      background-color: var(--ant-primary-color);
      opacity: 0;
    }

    .ant-table-column-sorters {
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: space-between;
    }

    .ant-table-tbody > tr > td {
      .ant-btn.ant-btn-link {
        padding: 0 6px;
        height: 28px;
      }
    }

    .ant-table-empty {
      padding-bottom: 20px;

      td.ant-table-cell {
        border-bottom: none;
      }
    }
    // 表格占满空隙，翻页器在最下面
    .gx-pro-page-container > .gx-pro-grid-content > .gx-scrollbar > .gx-scrollbar-wrap {
      > .gx-scrollbar-view {
        height: 100%;

        > .gx-pro-grid-content-children {
          height: 100%;

          > .gx-pro-watermark-wrapper {
            height: 100%;

            .gx-pro-page-container-children-content {
              height: 100%;

              > .ant-card {
                height: 100%;

                > .ant-card-body {
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }

    .gx-pro-table {
      height: 100%;

      > .gx-pro-table-content {
        height: 100%;
        display: flex;
        flex-direction: column;

        .ant-table-wrapper {
          flex: 1;
          overflow-y: hidden;

          > .ant-spin-nested-loading {
            height: 100%;

            > .ant-spin-container {
              height: 100%;
              display: flex;
              flex-direction: column;

              .ant-table {
                flex: 1;
                overflow-y: hidden;

                .ant-table-container {
                  height: 100%;
                  display: flex;
                  flex-direction: column;

                  > .ant-table-body {
                    flex: 1;
                    overflow-y: hidden;
                  }
                }
              }
            }
          }
        }
      }
    }

    .ant-table-expanded-row-fixed {
      margin: -12px -13px !important;
    }
  }
}
