@import (reference) "color.less";
@import (reference) "mixin.less";

@wd-prefix: wd;
@wd-prefix-back: ~'@{wd-prefix}-back';
@wd-prefix-pro: ~'@{wd-prefix}-pro';
@wd-prefix-pro-scrollbar: ~'@{wd-prefix-pro}-scrollbar';
@wd-prefix-pro-table: ~'@{wd-prefix-pro}-table';
@wd-prefix-pro-modal: ~'@{wd-prefix-pro}-modal';
