html {
  body {
    @media only screen and (max-height: 737px) {
      .ant-table.ant-table-small .ant-table-footer,
      .ant-table.ant-table-small .ant-table-tbody > tr > td,
      .ant-table.ant-table-small .ant-table-thead > tr > th,
      .ant-table.ant-table-small .ant-table-title,
      .ant-table.ant-table-small tfoot > tr > td,
      .ant-table.ant-table-small tfoot > tr > th {
        padding: 0;
        font-size: 12px;
      }

      .ant-table.ant-table-middle .ant-table-footer,
      .ant-table.ant-table-middle .ant-table-tbody > tr > td,
      .ant-table.ant-table-middle .ant-table-thead > tr > th,
      .ant-table.ant-table-middle .ant-table-title,
      .ant-table.ant-table-middle tfoot > tr > td,
      .ant-table.ant-table-middle tfoot > tr > th {
        padding: 0;
        font-size: 12px;
      }

      .ant-table .ant-table-footer,
      .ant-table .ant-table-title,
      .ant-table tfoot > tr > td,
      .ant-table tfoot > tr > th,
      .ant-table-tbody > tr > td,
      .ant-table-thead > tr > th {
        padding: 2px;
        font-size: 12px;
      }

      .gx-pro-table-form .gx-pro-table-form-container .ant-form-item {
        margin-bottom: 6px;
      }

      .gx-pro-table-form .gx-pro-table-form-container .gx-pro-table-form-collapse-button {
        margin-bottom: 6px;
      }

      .gx-pro-table-list-toolbar-container {
        padding: 4px;
      }

      .ant-pagination.ant-table-pagination {
        margin: 5px 0 !important;
      }
    }

    @media (min-height: 738px) {
      .ant-table.ant-table-small .ant-table-footer,
      .ant-table.ant-table-small .ant-table-tbody > tr > td,
      .ant-table.ant-table-small .ant-table-thead > tr > th,
      .ant-table.ant-table-small .ant-table-title,
      .ant-table.ant-table-small tfoot > tr > td,
      .ant-table.ant-table-small tfoot > tr > th {
        padding: 2px;
      }

      .ant-table.ant-table-middle .ant-table-footer,
      .ant-table.ant-table-middle .ant-table-tbody > tr > td,
      .ant-table.ant-table-middle .ant-table-thead > tr > th,
      .ant-table.ant-table-middle .ant-table-title,
      .ant-table.ant-table-middle tfoot > tr > td,
      .ant-table.ant-table-middle tfoot > tr > th {
        padding: 4px;
      }

      .ant-table .ant-table-footer,
      .ant-table .ant-table-title,
      .ant-table tfoot > tr > td,
      .ant-table tfoot > tr > th,
      .ant-table-tbody > tr > td,
      .ant-table-thead > tr > th {
        padding: 6px;
      }
    }

    @media (min-height: 870px) {
      .ant-table.ant-table-small .ant-table-footer,
      .ant-table.ant-table-small .ant-table-tbody > tr > td,
      .ant-table.ant-table-small .ant-table-thead > tr > th,
      .ant-table.ant-table-small .ant-table-title,
      .ant-table.ant-table-small tfoot > tr > td,
      .ant-table.ant-table-small tfoot > tr > th {
        padding: 8px;
      }

      .ant-table.ant-table-middle .ant-table-footer,
      .ant-table.ant-table-middle .ant-table-tbody > tr > td,
      .ant-table.ant-table-middle .ant-table-thead > tr > th,
      .ant-table.ant-table-middle .ant-table-title,
      .ant-table.ant-table-middle tfoot > tr > td,
      .ant-table.ant-table-middle tfoot > tr > th {
        padding: 10px;
      }

      .ant-table .ant-table-footer,
      .ant-table .ant-table-title,
      .ant-table tfoot > tr > td,
      .ant-table tfoot > tr > th,
      .ant-table-tbody > tr > td,
      .ant-table-thead > tr > th {
        padding: 12px;
      }
    }

    @media (min-height: 914px) {
      .ant-table.ant-table-small .ant-table-footer,
      .ant-table.ant-table-small .ant-table-tbody > tr > td,
      .ant-table.ant-table-small .ant-table-thead > tr > th,
      .ant-table.ant-table-small .ant-table-title,
      .ant-table.ant-table-small tfoot > tr > td,
      .ant-table.ant-table-small tfoot > tr > th {
        padding: 10px;
      }
      .ant-table.ant-table-middle .ant-table-footer,
      .ant-table.ant-table-middle .ant-table-tbody > tr > td,
      .ant-table.ant-table-middle .ant-table-thead > tr > th,
      .ant-table.ant-table-middle .ant-table-title,
      .ant-table.ant-table-middle tfoot > tr > td,
      .ant-table.ant-table-middle tfoot > tr > th {
        padding: 12px;
      }

      .ant-table .ant-table-footer,
      .ant-table .ant-table-title,
      .ant-table tfoot > tr > td,
      .ant-table tfoot > tr > th,
      .ant-table-tbody > tr > td,
      .ant-table-thead > tr > th {
        padding: 14px;
      }
    }
  }
}
