@font-face {
  font-family: 'playerfont'; /* Project id 3553193 */
  src: url('iconfont.woff2?t=1658993140753') format('woff2'),
    url('iconfont.woff?t=1658993140753') format('woff'),
    url('iconfont.ttf?t=1658993140753') format('truetype');
}

.playerfont {
  font-family: 'playerfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.player-shezhitianchong:before {
  content: '\e68d';
}

.player-jiazai:before {
  content: '\e699';
}

.player-Play:before {
  content: '\e624';
}

.player-Pause:before {
  content: '\e625';
}

.player-Volume:before {
  content: '\e629';
}

.player-Mute:before {
  content: '\e62a';
}

.player-FullScreen:before {
  content: '\e62b';
}

.player-ExitFullScreen:before {
  content: '\e62c';
}
